body {
  margin: 1.2em;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--main-bg-color);
  color: var(--font-color-green);  
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --button-color: #06666D;
  --input-bg-color: #f2f2f2;
  --main-bg-color:  #DEE3E6;
  --font-color-green: #192823;
}

ul {
  list-style:  none;
}

li {
  margin-bottom: 7px;
}

input {
  border-radius: 6px;
  font-family:  inherit;
  font-size:  14px;
  width: 50%;
  max-width: 500px;
  text-align: center;
  background-color: var(--input-bg-color);
}

button {
  margin-top: 1em;
  border-radius: 6px;
  width: 75px;
  height: 25px;
  color:  var(--input-bg-color);
  background-color: var(--button-color);
  font-family:  inherit;
  font-size:  12px;
  font-weight: bold;
  text-align: center;
}

.heading {
  text-align:  center;
  margin: 25px 0 25px 0;
}

.checked {
  text-decoration: line-through;
}

.more-text {
  font-size: .8em;
}

.hidden {
  display: none;
}

.editing {
  border-radius: 6px;
  text-indent: 6px;
  border: 1px solid gray;
  background-color: var(--input-bg-color);
}

.element-container {
  margin-left: auto;
  margin-right: auto;
  display: grid;
  align-items: center;
  max-width: 500px;
  grid-template-columns: 25px auto 25px 25px;
}

.element-line-decoration {
  grid-column: 1 / 2;
}

.element-item-name {
  grid-column: 2 / 3;
  text-align: left;
  margin-left: 6px;
}

.element-icon-edit {
  grid-column: 3 / 4;
}

.element-icon-save {
  grid-column: 3 / 4;
}

.element-icon-trash {
  grid-column: 4 / 5;
}

.element-item-notes {
  grid-column: 2 /3;
  text-align: left;
  margin-left: 31px;
}
