body {
  margin: 1.2em;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--main-bg-color);
  color:  var(--font-color-green);  
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  /*--main-bg-color: #e2decc;*/
  --button-color: #06666D;
  --input-bg-color: #f2f2f2;
  --main-bg-color:  #DEE3E6;
  --font-color-brown: #262416;
  --font-color-green: #192823;
  /*--font-color: #000000;*/
}

ul {
  list-style:  none;
  text-indent:  1.2em;
  margin-right:  1.2em;
  /*margin-left:  1.2em;*/
  /*padding-left:  1.2em;*/
  /*margin:  auto;*/
  /*display:  block;*/
}

li {
  display:  flex;
  margin-bottom: 7px;
}


input {
  border-radius: 6px;
  font-family:  inherit;
  font-size:  14px;
  width: 50%;
  text-align: center;
  background-color: var(--input-bg-color);
}

button {
  margin-top: 1em;
  border-radius: 6px;
  width: 75px;
  height: 25px;
  color:  var(--input-bg-color);
  background-color: var(--button-color);
  font-family:  inherit;
  font-size:  12px;
  font-weight: bold;
  text-align: center;
}

.recipe-heading {
  text-align: center;
}

.recipe-items {
  text-align: left;
  padding-left:  40px;
}

.recipe-notes {
  text-align: left;
  padding-left:  80px;
}

.heading {
  text-align:  center;
  margin-bottom:  50px;
}

.items {
  margin-right:  auto;
  text-align:  left;
}

.icons {
}

.checked {
  text-decoration: line-through;
}
